<div class="col-md-3">
  <div class="block-section-sm side-right">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Sort by: </strong></p>
      </div>
      <div class="col-xs-6">
        <p class="text-right">
          <strong>Relevance</strong> - <a href="#" class="link-black"><strong>Date</strong></a>
        </p>
      </div>
    </div>
    <div class="result-filter">
      <h5 class="no-margin-top font-bold margin-b-20 " ><a href="#s_collapse_1" data-toggle="collapse" >Skills <i class="fa ic-arrow-toogle fa-angle-right pull-right"></i> </a></h5>
      <div class="collapse in" id="s_collapse_1">
        <div class="list-area">
          <ul class="list-unstyled">
            <% tag_cloud Job.tag_counts, %w{s m l} do |tag, css_class| %>
                <%= link_to tag.name.slice(0,1).capitalize + tag.name.slice(1..-1), tag_path(tag.name), class: css_class %>
            <% end %>
          </ul>
        </div>
      </div>
      <h5 class="font-bold  margin-b-20"><a href="#s_collapse_2" data-toggle="collapse" >Recent Jobs <i class="fa ic-arrow-toogle fa-angle-right pull-right"></i></a>  </h5>
      <div class="collapse in" id="s_collapse_2">
        <div class="list-area">
          <ul class="list-unstyled ">
            <% @jobs.limit(5).each do |job|%>
            <li>
              <%=link_to job.title,job %>
            </li>
            <%end%>
          </ul>
        </div>
      </div>
      <h5 class="font-bold  margin-b-20"><a href="#s_collapse_3" data-toggle="collapse" >Recent Jobs by Companies <i class="fa ic-arrow-toogle fa-angle-right pull-right"></i></a> </h5>
      <div class="collapse in" id="s_collapse_3">
        <div class="list-area">
          <ul class="list-unstyled ">
            <%@jobs.limit(5).each do |company|%>
            <li>
              <%=link_to company.company_name,company%>
            </li>
            <%end%>
          </ul>
        </div>
      </div>
      <h5 class="font-bold  margin-b-20" ><a href="#s_collapse_4" data-toggle="collapse"  >Recent Jobs by Location  <i class="fa ic-arrow-toogle fa-angle-right pull-right"></i> </a></h5>
      <div class="collapse" id='s_collapse_4'>
        <div class="list-area">
          <ul class="list-unstyled ">
            <%@jobs.limit(5).each do |loc|%>
            <li>
              <%=link_to loc.location, loc%>
            </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>