<div class="get_alert">
  <h4>Get new resumes for this search by email</h4>
  <%= form_for @newsletter  do |f| %>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group">
          <label>My Email</label>
          <%= f.email_field :email ,class: 'form-control', placeholder:'Enter Email'%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="hidden-sm hidden-xs ">&nbsp;</label>
          <%= f.submit 'Activate', class:'btn btn-theme btn-success btn-block' %>
        </div>
      </div>
    </div>
    <small>You can cancel email alerts at any time.</small>
  <%end%>
</div><!-- end form get alert  -->
